<!-- {
    -"id" "id1"
    -"idType": "xid",
    "name": "Guest",
    "lastName": "LastName",
    "age": "28",
    "gender": "M",
    -"creationDate": "2020-07-03T04:00:00Z"
    } -->
<div class="card">
	<div class="card-header">
		Welcome
	</div>
	<div class="card-body">
		<form>
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name" [formControl]='name'>
			</div>
			<div class="form-group">
				<label for="lastname">LastName:</label>
				<input type="text" class="form-control" id="lastname" aria-describedby="lastname" placeholder="LastName" [formControl]='lastname'>
			</div>
			<div class="form-group">
				<label for="age">Age:</label>
				<input type="text" class="form-control" id="age" aria-describedby="age" placeholder="Age" [formControl]='age'>
			</div>
			<div class="form-group">
				<label for="Gender">Gender:</label>
				<input type="text" class="form-control" id="Gender" aria-describedby="Gender" placeholder="Gender" [formControl]='gender'>
			</div>
			<button type="submit" (click)='addToList()' class="btn btn-primary">Add to List</button>
		</form>
	</div>
</div>