<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Lastname</th>
			<th scope="col">Age</th>
			<th scope="col">Gender</th>
			<th scope="col">Creation Date</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor='let user of users'>
			<th scope="row"> {{user.id}} </th>
			<td> {{user.name}} </td>
			<td> {{user.lastname}} </td>
			<td> {{user.age}} </td>
			<td> {{user.gender}} </td>
			<td> {{user.creationDate}} </td>
		</tr>
	</tbody>
</table>